#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  padding-top: 70px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
}


.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}


.recipe-card {
  max-width: 350px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card .card-content {
  padding: 15px;
}

.recipe-card h6 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-card button {
  margin-top: 10px;
}


.recipe-details {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.recipe-details img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-details-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-content {
  text-align: left;
  padding: 20px;
}



.recipe-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}


.recipe-subtitle {
  font-size: 22px;
  color: #555;
  margin-top: 15px;
}


.recipe-text {
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}


.recipe-step {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 8px;
} 

.recipe-details {
  overflow: hidden;
}
